ul.cardapio-list {
  width: 100%;
  list-style: none;
}

ul.cardapio-list li {
  display: flex;
  flex-direction: column;
}

ul.cardapio-list li header {
  width: 100%;
  height: 120px;
  background-size: cover;
  border-radius: 4px;
  margin-bottom: 10px;
}

ul.cardapio-list li strong {
  margin-top: 10px;
  font-size: 24px;
  color: #444;
  margin-bottom: 10px;
}

button.btnEditar {
  border: 0;
  border-radius: 2px;
  width: 100%;
  height: 42px;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  background: #f05a5b;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
}

button.btnEditar:hover{
    background: #e14f50;
  }